:root{
    --primary-color: #e7e9ea;
    --secundary-color: #1d9bf0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: Verdana, sans-serif
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
