.header_container{
    width: 80%;
    height: 15vh;
    background-color: #000;
    margin: 0 auto;
    
}
.header_container img{
    width: 42px;
    height: 42px;
    margin: 35px 0 0 0;
}

.main_container{
    padding: 20px 0 20px 0;
    width: 100%;
    height: auto;
    background-color: #000;
}
.main_info{
    width: 80%;
    margin: 0 auto;
}
.titles_container{
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-bottom: 20px;
}
.titles_container img{
    display: none
}
.titles_container h1{
    color: var(--primary-color);
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.2rem;
    letter-spacing: -0.08rem;
}
.titles_container h2{
    color: var(--primary-color);
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 2.8rem
}
.buttons_container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 17px;
}
.buttons_container .button{
    width: 300px;
    height: 40px;
    background-color: var(--primary-color);
    padding: 10px;
    color: #000;
    border-radius: 30px;
}
.buttons_container .button_google{
    font-weight: 300;
    font-size: 1.4rem;
}
.buttons_container .button_apple{
    font-weight: 700;
    font-size: 1.4rem;
}
.buttons_container .button_phone{
    padding: 12px;
    font-size: 1.33rem;
    background-color: var(--secundary-color);
    color: var(--primary-color);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.buttons_container .google_logo, .buttons_container .apple_logo{
    vertical-align: text-bottom;
    width: 18px;
    height: 18px;
    margin-right: 7px;
}

.main_info span{
    display: flex;
    width: max-content;
    justify-content: flex-start;
    color: var(--primary-color);
    font-size: 1.8rem;
}
.buttons_container p{
    width: 300px;
    text-align: start;
    font-size: 1rem;
    line-height: 1.1rem;
    color: #71767b;
}
.buttons_container .buttons_links{
    color: var(--secundary-color);
}

.login_container{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login_container h3{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: bold;
}
.login_container .button_login{
    width: 300px;
    height: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #000;
    border: 1px solid var(--primary-color);
    padding: 10px;
    color: var(--secundary-color);
    border-radius: 30px;
    text-align: center;
}

.main_image{
    padding-top: 40px;
    width: 100%;
}
.main_image div{
    position: relative;
}
.main_image .image_blue{
    width: 100%;
    max-width: 1000px;
    height: 308px;
}
.main_image .logo_main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 230px;
    height: 189px;
}

.footer_container{
    width: 100%;
    height: auto;
    background-color: #000;
}
.footer_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
    text-align: left;
}
.footer_content a, .footer_content p{
    margin: 5px 6px;
    font-size: 1.2rem;
    color: #71767b;
}